html {
	scroll-behavior: smooth;
}
body {
	background: black;
	margin: 0;
}
body.no-scroll {
	overflow: hidden;
}

* {
	-webkit-tap-highlight-color: transparent;
}

$mobile: 1079px;
$min-mobile: 440px;

@font-face {
  font-family: 'Norpeth';
  src: url('../fonts/NorpethBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Norpeth';
  src: url('../fonts/NorpethLight.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Norpeth';
  src: url('../fonts/NorpethMedium.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

p,h2,h3, input, a {
	font-family: 'Norpeth';
	font-weight: 300;
	margin:  0;
	color:  white;
}

p {
	font-size: 12px;
	&.large {
		font-size:  14px;
	}
	&.larger {
		font-size:  16px;
	}
}

h1 {
	position: absolute;
	display: none;
	top: 0;
}

h2 {
	font-size:  24px;
	& .bold {
		font-weight: 700;
	}
}

h3 {
	font-size:  20px;
	font-weight: 700;
	.light {
		font-weight: 200;
	}
}

.small-top-margin {
	margin-top: 10px;
}

.medium-top-margin {
	margin-top: 45px;
}

.main{
	margin-top: 6vw;
	@media(max-width: $min-mobile) {
		margin-top: 23vw;
		max-width: 100%;
		overflow-x: hidden;
	}
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.target {
	position: absolute;
	top: -100px;
	&.higher {
		top: -150px;
	}
	&:before {
		display:  none;
	}
}

#main-nav-wrap {
	height:  0px;
	width: 100%;
	position: fixed;
	z-index: 0;
	background-color: black;
	transition: height 0.5s, z-index 0.5s;
	display: flex;
	align-items: center;
	ul {
		position: relative;
		display:  flex;
		flex-wrap: wrap;
		height: 50%;
		width: 100%;
		padding-left: 0;
		li {
			width:  100%;
			opacity: 0;
			text-align: center;
			list-style: none;
			font-size: 25px;
			transition: opacity 0.25s;
		}
	}
	&.open{
		height: calc(100%);
		z-index: 2;
		li {
			opacity: 1;
		}
	}
}

.header {
	.mobile-logo{
		display: none;
		cursor: pointer;
		top: 50%;
		left: 15%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 70px;
	}
	.menu-toggle {
		display: none;
		cursor: pointer;
	  top: 50%;
	  right: 5%;
	  transform: translate(-50%, -50%);
	  position: absolute;
	  width: 40px;
	  &:before, &:after, div {
		  background: #fff;
		  content: "";
		  display: block;
		  height: 4px;
		  border-radius: 3px;
		  margin: 7px 0;
		  transition: 0.5s;
	  }
	  &.open {
	  	&:before {
	  		transform: translateY(9.5px) rotate(135deg);
	  	}
	  	&:after {
	  		transform: translateY(-12px) rotate(-135deg);
	  	}
	  	div {
	  		transform: scale(0);
	  	}
	  }
	}
	position: fixed;
	top: 0;
	height: 13vw;
	width: 100%;
	max-width: 1600px;
	background-image: url('../images/back-header.png');
	background-size: 100% 99.9%;
	background-color: black;
	clip-path: polygon(100% 0, 100% 54.2%, 56.65% 50%, 50.07% 100%, 43.35% 50%, 0 54.2%, 0 0);
	max-height: 220px;
	z-index: 2;
	@media(min-width:  $min-mobile) and (max-width: $mobile){
		background-size: unset;
		height: 50vw;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		clip-path: polygon(100% 0, 100% calc(50% - 3px), calc(50% + 88px) calc(50% - 4px), calc(50% + 1px) calc(100% - 20px), calc(50% - 88px) calc(50% - 4px), 0 calc(50% - 3px), 0 0);
		.menu-toggle {
			top: 25%;
		}
		.mobile-logo {
			top: 25%;
		}
	}	
	@media(max-width: $min-mobile) {
		height: 107px;
		clip-path: none;
		background-size: unset;	
	}
	@media(max-width: $mobile) {
		.menu-toggle {
			display: block;
		}
		.mobile-logo {
			display: block;
		}
	}
	.menu {
		@media(max-width: $mobile){
			display:  none;
		}
		position: relative;
		display:  flex;
		height: 100%;
		top: 30%;
		div {
			display:  flex;
			justify-content: center;
			width: 50%;
			a {
				text-decoration: none;
				font-size: 16px;
				font-weight: 300;
				color: #bbb;
				transition: all 0.5s ease-out;
				border-bottom: 0;
				padding-bottom: 5px;
				&:hover {
					font-size: 18px;
					font-weight: 700;
					color: white;
				}
				&.active {
					font-size: 18px;
					text-decoration: underline;
					font-weight: 700;
					color: white;
					border-bottom: solid 1px white;
				}
			}
			&:first-child {
				a {
					margin-left: 70px;
				}
			}
			&:last-child {
				a {
					margin-right: 70px;
				}
			}
		}
	}
	
}

.hero {
	position: relative;
	padding-left: 200px;
	padding-right: 200px;
	min-height: 755px;
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 50%;
	background-color: black;
	@media(max-width: $mobile) {
		background-image: url('../images/hero-mobile.jpg');
		padding-left: 0px;
		padding-right: 0px;
	}
}

.technology {
	:before {
		content: "";
		clip-path: polygon(51% 30%, 0 100%, 100% 100%);
		position: absolute;
		top: -160px;
		width: 155px;
		height: 110px;
		left: 0;
		margin: auto;
		right: 0;
		background-image: url('../images/img-arrow.png');
		background-position-x: 50%;
		background-position-y: 95%;
		background-repeat: no-repeat;
		background-color: black;
	}
	position: relative;
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	min-height: 500px;
	background-color: black;
	background-image: url('../images/back-technology.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	@media(max-width: $mobile) {
		padding-left: 0px;
		padding-right: 0px;
		background-size: 90%;
		background-position-x: 100%;
		background-position-y: 50%;
	}
	display: flex;	
	flex-wrap: wrap;
	align-items: flex-start;
	h2 {
		margin-top: 50px;
		flex-basis: 100%;
		text-align: center;
		max-width: 200px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
		box-shadow: 0 10px 20px -17px white;
	}
}

.about {
	position: relative;
	padding-left: 200px;
	padding-right: 200px;
	min-height: 670px;
	background-image: url('../images/back-about.jpg');
	background-color: black;
	background-size: 100.7% 100%;
	display: flex;	
	flex-wrap: wrap;
	align-items: flex-start;
	h2 {
		margin-top: 150px;
		flex-basis: 100%;
		text-align: center;
		width: auto;
		height: 0;

	}
	@media(max-width: $mobile) {
		padding-left: 0px;
		min-height: unset;
		padding-right: 0px;
		background-size: auto 100%;
		background-position-x: calc(50% + 5px);
		h2 {
			margin-top: 75px;
			height: auto;
		}
	}
	> div {
		display: flex;	
		align-items: center;
		justify-content: center;
		img {
			width: 20%;
			text-align: right;
			max-width: 250px;
		}
		@media(max-width: $mobile) {
			margin: 50px auto;
			display: block;	
			text-align: center;
		}
		div {
			margin-left: 35px;
			width:  60%;
			@media(max-width: $mobile) {
				margin: 35px;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
			a {
				float: right;
				background-color: white;
				color: black;
				font-size: 16px;
				font-weight: 700;
				padding: 7.5px 15px;
				border-bottom: 3px solid #a8a8a7;
				transition: background-color 0.5s;
				text-decoration: none;
				@media(max-width: $mobile) {
					display: block;
					float: none;
					margin-top:  50px;
				}
				&:hover {
					background-color:  #b2b2b2;
				}
			}
		}
	}
}

.products {
	position: relative;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 75px;
	padding-bottom:  100px;
	min-height: 500px;
	background-color: black;
	background-image: url('../images/back-products.png');
	background-size: 100% 110%;
	@media (max-width: $mobile) {
  	background-size: 150% 100%;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
	}
	display: flex;	
	flex-wrap: wrap;
	align-items: center;
	h2 {
		flex-basis: 100%;
		text-align: center;
		width: auto;
		margin-bottom: 25px;
	}
	div {
		width: 33%;
		text-align: center;
		@media(max-width: $mobile){
			width: 100%;
			text-align: center;
			margin-top: 50px;
		}
		img {
			height: 200px;
		}
		h3 {
			margin-top: 25px;
			@media(max-width: $mobile){
				margin-top: 0px;
			}
			border-bottom:  1px solid #009fe3;
			width: 30%;
			margin-left: auto;
			margin-right: auto;
		}
		h3.first {
			border-bottom: 1px solid #e6007e;
		}
	}
	div:last-child {			
		h3 {
			border-bottom: 1px solid #e30613;
		}
	}
}

.footer {
	position: relative;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 150px;
	padding-bottom:  150px;
	background: url('../images/back-footer.jpg');
	background-size: 100% 100%;
	@media (max-width: $mobile) {
		padding-left: 20px;
		padding-right: 20px;
  	background-size: auto 100%;
  	background-position: 50%;
		flex-wrap: wrap;
	}
	background-color: black;
	display: flex;
	color:  white;
	> div {
		width: 33%;
		padding-left: 50px;
		padding-right: 50px;
		@media(max-width:  $mobile) {
			width:  100%;
			text-align: center;
		}
		margin-top: 35px;
		.social {
			display: flex;
			justify-content: center;
			a{
				margin-right: 5px;
				width: 25px;
				height: 25px;
				background-color:  white;
				transition: background-color 0.5s;
				&:hover {
					background-color:  #b2b2b2;
				}
				img {
					margin-top: auto;
					width: 25px;
					height: 22px;
					text-align: center;
				}
			}
		}
		&:first-child {
			margin-top: 0;
		}
		.form {
			input {
				height: 30px;
				width: 200px;
				border-radius: 0px;
				border: none;
				color: #999999;
				padding-left: 15px;
				&[type=submit] {
					background-color: black;
					border: solid 1px white;
					font-weight: 300;
					width: 75px;
					color: white;
					transition: background-color 0.5s;
					&:hover {
						background-color: #333333;
					}
				}
			}
		}
	}
}