body {
  background: black;
  margin: 0; }

@font-face {
  font-family: 'Norpeth';
  src: url("../fonts/NorpethBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Norpeth';
  src: url("../fonts/NorpethLight.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Norpeth';
  src: url("../fonts/NorpethMedium.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
p, h2, h3, input, a {
  font-family: 'Norpeth';
  font-weight: 300;
  margin: 0;
  color: white; }

p {
  font-size: 12px; }
  p.large {
    font-size: 14px; }
  p.larger {
    font-size: 16px; }

h2 {
  font-size: 24px; }
  h2 .bold {
    font-weight: 700; }

h3 {
  font-size: 20px;
  font-weight: 700; }
  h3 .light {
    font-weight: 200; }

.small-top-margin {
  margin-top: 10px; }

.medium-top-margin {
  margin-top: 45px; }

.main {
  margin-top: 110px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: fixed;
  top: 0;
  height: 13vw;
  width: 100%;
  max-width: 1600px;
  background-image: url("../images/back-header.png");
  background-size: 100% 99.9%;
  background-color: black;
  max-height: 220px;
  z-index: 2;
  clip-path: polygon(100% 0, 100% 54.2%, 56.65% 50%, 50.07% 100%, 43.35% 50%, 0 54.2%, 0 0); }
  .header .menu {
    position: relative;
    display: flex; }
    .header .menu div {
      display: flex; }

.hero {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  min-height: 755px;
  background-image: url("../images/hero.jpg");
  background-size: 100% 100%;
  background-color: black; }

.technology {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  min-height: 500px;
  background: green; }

.about {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  min-height: 670px;
  background-image: url("../images/back-about.jpg");
  background-color: black;
  background-size: 100.7% 100%; }

.products {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 75px;
  padding-bottom: 100px;
  min-height: 500px;
  background-color: black;
  background-image: url("../images/back-products.png");
  background-size: 100% 110%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .products h2 {
    flex-basis: 100%;
    text-align: center;
    width: auto;
    margin-bottom: 25px; }
  .products div {
    width: 33%;
    text-align: center; }
    .products div img {
      height: 200px; }
    .products div h3 {
      margin-top: 25px;
      border-bottom: 1px solid #009fe3;
      width: 30%;
      margin-left: auto;
      margin-right: auto; }
    .products div h3.first {
      border-bottom: 1px solid #e6007e; }
  .products div:last-child h3 {
    border-bottom: 1px solid #e30613; }

.footer {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("../images/back-footer.jpg");
  background-size: 100% 100%;
  background-color: black;
  display: flex;
  color: white; }
  .footer > div {
    width: 33%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 35px; }
    .footer > div .social {
      display: flex; }
      .footer > div .social a {
        margin-right: 5px;
        width: 25px;
        height: 25px;
        background-color: white;
        transition: background-color 0.5s; }
        .footer > div .social a:hover {
          background-color: #b2b2b2; }
        .footer > div .social a img {
          margin-top: auto;
          width: 25px;
          height: 22px;
          text-align: center; }
    .footer > div:first-child {
      margin-top: 0; }
    .footer > div .form input {
      height: 30px;
      width: 200px;
      border-radius: 0px;
      border: none;
      color: #999999;
      padding-left: 15px; }
      .footer > div .form input[type=submit] {
        background-color: black;
        border: solid 1px white;
        font-weight: 300;
        width: 75px;
        color: white;
        transition: background-color 0.5s; }
        .footer > div .form input[type=submit]:hover {
          background-color: #333333; }

/*# sourceMappingURL=style.css.map */
